.hero {
    height: 100vh;
    background: rgb(247, 225, 229);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-left: 130px;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    font-size: 12px;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: 50px;
    font-weight: 700;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-hand-icon img {
    width: 50px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 210px;
    height: 30px;
    border-radius: 45px;
    margin-top: 15px;
    background: #ff4141;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    height: 80%;
}