.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: rgb(250, 225, 229);
    gap: 30px;
}

.newsletter h1 {
    color: #454545;
    font-size: 28px;
    font-weight: 600;
}

.newsletter p {
    color: #454545;
    font-size: 12px;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 365px;
    height: 35px;
    border-radius: 40px;
    border: 1px solid #e3e3e3;
}

.newsletter input {
    width: 250px;
    margin-left: 15px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 8px;
}

.newsletter div button {
    width: 105px;
    height: 35px;
    border-radius: 40px;
    background: black;
    color: white;
    font-size: 8px;
    cursor: pointer;
}
