.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px 135px;
    justify-content: space-between;
    align-items: center;
} 
 
.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

.shopcategory-products {
    width: 78%;
    margin: 1rem 8.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    row-gap: 50px;
    justify-content: space-around;
} 


.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    width: 120px;
    height: 39px;
    border-radius: 40px;
    background: #ededed;
    color: #787878;
    font-size: 12px;
    font-weight: 500;
}