.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 100px;
}

.new-collections h1 {
    color: #171717;
    font-size: 25px;
    font-weight: 600;
}

.new-collections hr {
    width: 100px;
    height: 3px;
    border-radius: 10px;
    background: #252525;
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 25px;
    gap: 15px;
}
