.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo p {
    color: #383838;
    font-size: 23px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 25px;
    color: #252525;
    font-size: 12px;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    gap: 12px;
}

.footer-icon-container {
    display: flex;
    padding: 5px;
    padding-bottom: 3px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 18px;
    color: #1a1a1a;
    font-size: 12px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 6px;
    height: 3px;
    background: #c7c7c7;
}