.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: 90vh;
}

.popular h1 {
    color: #171717;
    font-size: 25px;
    font-weight: 600;
}

.popular hr {
    width: 100px;
    height: 3px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    margin-top: 25px;
    display: flex;
    gap: 30px;
}
