.offers {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: rgb(247, 218, 223);
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 45px;
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 12px;
    font-weight: 600;
}

.offers-left button {
    width: 140px;
    height: 35px;
    border-radius: 18px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 25px;
}

.offers-right img {
    height: 350px;
}